/* quick class */
.font-size-h1{
  font-size: 3vw;
}
.font-size-h3{
  font-size: 1.4vw;
  color: lightgray;
  opacity: 70%;
}
/*  */


body {
  background: linear-gradient(to bottom, #38485f, #22223c);
  min-height: 100vh; /* Hoặc 100% */
  margin: 0;
}

header,
footer,
main {
  max-width: 90% !important;
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu-button-effect {
  position: relative;
  background-color: rgb(18, 18, 39);
  color: white;
  border: none;
  transition: all 0.3s ease;
  overflow: visible;
}
.menu-button-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1.5px;
  width: 0;
  margin-top: 1px;
  background-color: rgb(255, 255, 255);
  transition: width 0.5s ease;
}
.menu-button-effect:hover::after {
  width: 100%;
}

/*  */

.button-effect {
  margin: auto;
  position: relative;
  background-color: rgb(18, 18, 39);
  color: white;
  border: none;
  transition: all 0.3s ease;
  overflow: visible;
}

/* Tạo đường gạch dưới ảo */
.button-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1.5px;
  width: 0;
  margin-top: 1px;
  background-color: rgb(255, 255, 255);
  transition: width 0.5s ease;
}

/* Khi hover, mở rộng đường gạch dưới */
.button-effect:not(.choose):hover::after {
  width: 100%;
}

/*  */

.choose {
  border-bottom: 1.8px white solid;
  padding-bottom: 4px;
  position: relative;
  top: 2px;
}

.search-input {
  justify-content: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
}
header {
  background-color: rgb(18, 18, 39);
}

.container {
  max-width: 100%;
}

footer {
  background-color: rgb(18, 18, 39);
  color: white;
  padding: 20px;
  text-align: center;
}
footer p {
  margin: auto;
}
main {
  margin: 10px;
  color: white;
}

.middle {
  display: flex;
}
.dropdown-toggle::after {
  display: none !important;
}
.menudrop {
  display: flex;
  justify-content: left;
  gap: 10px;
  text-align: center;
  margin-bottom: 4px;
}
.logo {
  width: 50px;
}

.color1 {
  background-color: none;
  padding: 15px;
  margin: auto;
  color: white;
  font-size: 25px;
}
.search-bar {
  background-color: black;
  border-radius: 10px;
  border: 0.1px white solid;
  color: white;
  width: 100%;
  margin-left: -12px;
  padding-left: 20px;
}
.search-bar::placeholder {
  text-indent: -10px;
}
.dropdown-menu {
  background-color: rgb(18, 18, 39) !important;
  color: white;
  text-align: center !important;
}
/* .dropdownitem{
    margin-right: 15px;
} */
.customBut1 {
  border: 3px rgb(84, 48, 203) solid;
  margin: auto;
  text-align: center;
  height: 30px;
  width: 30px;
  color: white;
  margin-right: -5px;
}
.customBut1:hover {
  background-color: white;
  color: rgb(84, 48, 203);
}
.costomBut2 {
  background-color: rgb(84, 48, 203);
  border: none;
  color: white;
  width: 120px;
  border-radius: 13px;
  margin-right: -30px;
}
.costomBut2:hover {
  background-color: white;
  color: rgb(84, 48, 203);
}
.search-button {
  border: 1px white solid;
  background-color: rgb(84, 48, 203);
  text-align: center;
  font-size: 15px;
  width: 35px;
  height: auto;
  color: white;
  float: right;
  border-radius: 20%;
  margin-right: -10px;
}
.search-button:hover {
  background-color: white;
  color: rgb(84, 48, 203);
}
.search-bar::placeholder {
  font-size: 13px;
  text-align: start;
  justify-content: center;
  margin: auto;
  padding-left: 12px;
}
.item-index {
  height: 100%;
  width: 90%;
  border-radius: 2vh;
  object-fit: cover;
  border: 0.5vw rgb(255, 255, 193) solid;
}

.section2contain img {
  border-radius: 2vh;
}

/* chứa ảnh game cần show details */
.hover-details {
  position: relative;
  overflow: hidden;
}
.details-box {
  position: absolute;
  bottom: -500%; /* Ẩn ban đầu */
  left: 7%;
  right: 0;
  width: 86%; /* Chiếm toàn bộ chiều ngang */
  height: 97%; /* Chiếm toàn bộ chiều cao của ảnh */
  background: rgba(84, 48, 203, 0.5);
  color: white;
  text-align: center;
  font-size: 1vw;
  border-radius: 1.4vh;
  transition: bottom 0.6s ease;
}
.hover-details:hover .details-box {
  bottom: 0;
}

/* video details */
.video-details {
  position: relative;
  width: 80%;
  border-radius: 2vh;
  top: -5px;
}

.buy-button {
  border: none;
  background-color: rgb(84, 48, 203);
  color: white;
  text-align: center;
  font-size: 1vw;
}
.buy-button:hover {
  border: none;
  background-color: white;
  color: rgb(84, 48, 203);
}
.buy-button2 {
  border: none;
  background-color: rgb(33, 165, 12);
  color: white;
  text-align: center;
  font-size: 1vw;
  padding: 0.3vw;
}
.buy-button2:hover {
  border: none;
  background-color: white;
  color: rgb(33, 165, 12);
}

.discount-tag {
  background-color: rgb(227, 211, 26);
  position: relative;
}
.discount-tag2 {
  background-color: rgb(227, 211, 26);
  position: relative;
  font-size: 1.4vw;
}

.discount-num-tag {
  background-color: #38485f;
  font-size: 0.8vw;
}
.discount-num-tag2 {
  background-color: #74438f;
}
.discount-num-tag2 p {
  margin: 0.3vw;
  font-size: 1vw;
}
.discount-num-tag p {
  margin: auto;
  padding: 2%;
}

/* Phần Game nổi bật */
/* Class khi được chọn */
.selected-border {
  border: 3px solid white;
  border-radius: 2vh;
}
/* section3 */

.section3 {
  background: linear-gradient(to bottom, #22223c, #38485f);
  margin: auto;
  height: fit-content;
}
.dcnn img {
  border-radius: 2vw;
  width: 23vw;
}

.czoom {
  position: relative;
  overflow: visible;
  max-height: 15vw;
  height: 15vw;
}

.zoom {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease;
}

.details-box1 {
  position: absolute;
  right: 0;
  left: 20%;
  opacity: 0;
  width: 18vw;
  height: 5vw;
  background: white;
  color: rgba(84, 48, 203, 0.5);
  text-align: center;
  font-size: 1vw;
  border-radius: 1vh;
}
/* Phần mủi nhọn */
.details-box1::after {
  content: "";
  position: absolute;
  left: 50%; /* Căn giữa mũi nhọn theo chiều ngang của .details-box1 */
  top: -1vw; /* Đặt mũi nhọn trên phần .details-box1 */
  transform: translateX(-50%); /* Căn giữa mũi nhọn theo chiều ngang */
  width: 0;
  height: 0;
  border-left: 2vw solid transparent; /* Mũi nhọn có màu trong suốt */
  border-right: 2vw solid transparent; /* Mũi nhọn có màu trong suốt */
  border-bottom: 2vw solid white; /* Mũi nhọn có màu trắng và hướng lên trên */
  transition: top 0.4s ease; /* Thêm hiệu ứng khi mũi nhọn xuất hiện */
}

.czoom:hover .details-box1 {
  top: 90%;
  opacity: 55%;
}
.czoom:hover .zoom {
  width: 100%;
}

footer a {
  text-decoration: none !important;
  color: rgb(84, 48, 203);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* section 4 */

.item-index1 {
  height: 95%;
  width: 95%;
  object-fit: cover;
}
.readmore-button {
  background-color: white;
  color: rgb(84, 48, 203);
  font-size: 1vw;
  margin-top: -1vh;
}
.readmore-button:hover {
  color: white;
  background-color: rgb(84, 48, 203);
}

/* Login and register */

.opacity-bg {
  background: linear-gradient(to top, #38485f, #22223c);
  margin: 0;
  opacity: 90%;
  height: 100%;
  box-sizing: border-box;
}

.login-input {
  all: unset;
  /* padding: 15px; */
  background-color: #22223c;
  width: 35vw;
  border: 2px solid transparent;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.088);
  transition: border 0.3s ease-in-out;
  border-radius: 12px;
  height: 2.5rem;
  color: white;
  text-align: start;
}
.login-input:focus {
  border-color: aquamarine;
}
.login-input::placeholder {
  color: white;
  text-align: start;
  font-size: 1rem;
  opacity: 90%;
}
body {
  font-family: "Inter", sans-serif;
}

input[type="checkbox"].custom-check {
  accent-color: #5430cb;
}

.login-button {
  background-color: rgb(84, 48, 203);
  border: none;
  color: white;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
}
.login-button:hover {
  background-color: white;
  color: rgb(84, 48, 203);
}
.login-button2 {
  background-color: #38485f;
  align-items: center;
  width: 3rem;
  height: 2rem;
}
.login-button2:hover {
  background-color: rgb(84, 48, 203);
  color: white;
}
.form-bg {
  background-image: url(./images/Login_Register/1364878.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 88.9vw;
  height: 100%;
}
.dkn:hover {
  text-decoration: underline !important;
}
.eye-icon {
  background: none;
  color: white;
  border: none;
  position: absolute;
  right: 4%;
  bottom: 19%;
}
.eye-icon1 {
  background: none;
  color: white;
  border: none;
  position: absolute;
  right: 2%;
  bottom: 19%;
}

/* support */
.background-support {
  background-image: url(./images/support/Free-Pixel-Art-Cloud-and-Sky-Backgrounds4.jpg);
  height: 45vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0; /* thêm dòng này */
}

.background-support::before {
  content: "";
  background: linear-gradient(to top, #38485f, #22223c);
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0.75; /* sửa thành số thực */
  z-index: -1; 
  box-sizing: border-box;
}

.background2{
  background: linear-gradient(to top, #38485f, #22223c);
  border-radius: 3vh;
  height: 30vw;
  width: 35vw;
  opacity: 80%;
}
.xem-button{
  background-color: rgb(84, 48, 203);
  color: white;
  border: none;
}
.xem-button:hover{
  background-color: white;
  color:rgb(84, 48, 203);
}
.overlay {
  display: none; /* Ẩn ban đầu */
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: auto; /* 👈 Cho phép cuộn nếu nội dung lớn */
}
    /* Form popup */
.popup-form {
  background-color: rgb(84, 48, 203,0.3);
  border-radius: 10px;
  height: auto;
  width: 50vw; /* hoặc 20rem, hoặc giá trị cố định */
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-size: 0.9rem;
}
.popup-form i{
  font-size: 2vw;
}
.popup-form input{
  font-size: 1vw;
}
.popup-form textarea::placeholder{
  font-size: 1vw;
}
.popup-form select{
  font-size: 1vw;
}


/* Communication */
.commu-bg{
  background-color: rgb(18, 18, 39,0.6);
}
.nav-commu{
  font-size: 1vw;
}
.nav-commu > a:not(.nav-commu-choose){
  background: linear-gradient(to top, #38485f, #22223c);
  color: rgb(255, 255, 255);
  border-top: 0.1vw #22223c solid;
  border-right: 0.1vw #22223c solid;
  border-left: 0.1vw #22223c solid;
  border-bottom: none;
  text-decoration: none;
}
.nav-commu > a:hover{
  background: rgb(84, 48, 203);
  color: white;
}
.line{
  background: linear-gradient(to bottom, #38485f, #22223c);
  height: 1vw;
}
.nav-commu-choose{
  border: none;
  background-color: white;
  text-decoration: none;
  color: rgb(84, 48, 203);
}
.content-bg{
  background-color: #22223c;
}
.content-bg-sub{
  background-color: rgba(0,0,0,0.4);
}
.sub-text{
  font-size: 0.8vw;
  color: white;
  opacity: 50%;
}
.sub-text-1{
  font-size: 0.8vw;
  color: white;
  opacity: 70%;
}


/* trong Market */  

.container-bg{
  background: linear-gradient(to top, #38485f, #22223c);
}
.container-game{
  background-color: rgb(255, 255, 255, 0.1);
}
.discount{
  font-size: 1vw;
  background-color: darkgreen;
  text-align: center;
  color: lawngreen;
  white-space: nowrap !important;
  width: auto;
  padding: 0.25rem 0.75rem;
}
.demo{
  font-size: 1vw;
  background-color: darkgrey;
  text-align: center;
  color: white;
}
.old-price {
  position: relative;
  display: inline-block;
  color: #aaa;
  font-size: 0.6vw;
  text-decoration: line-through;
  padding-right: 0.2vw;
  padding-top: 0.1vw;
}


.discount-num{
  font-size: 0.9vw;
  color: lawngreen;
  padding-right: 0.2vw;
}
.buying-info{
  background-color: rgb(0, 0, 0, 0.3);
}

.get-button {
  border: none;
  background-color: rgb(84, 48, 203);
  color: white;
  text-align: center;
  font-size: 1vw;
  height: 2.35vw;
}
.get-button:hover {
  border: none;
  background-color: white;
  color: rgb(84, 48, 203);
}
.buy-button-m {
  border: none;
  background-color: rgb(84, 48, 203);
  color: white;
  text-align: center;
  font-size: 1vw;
  height: 2.35vw;
}
.buy-button-m:hover {
  border: none;
  background-color: white;
  color: rgb(84, 48, 203);
}
